@import "../variables";

.movie-count {
  font-weight: bold;
  margin-right: 5px;

  &-wrapper {
    color: $white;
    font-size: 20px;
    padding: 25px 0;
  }
}

.movie-list {
  flex-wrap: wrap;

  .movie-item {
    width: 30%;
    flex-grow: 1;
    margin-bottom: 60px;

    &:not(:nth-of-type(3n)) {
      margin-right: 50px;
    }

    .movie-img-container {
      position: relative;

      .movie-image {
        margin-bottom: 20px;
        height: 850px;
        background-size: cover;
        background-position: center;
      }

      &:hover .options-icon {
        display: block;
      }

      .options-icon {
        background-color: $black;
        display: none;
        color: $white;
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1rem;
        border-radius: 50%;
        padding: 2rem;
      }
    }

    .movie-info {
      justify-content: space-between;
      color: transparentize($white, 0.25);

      .release-date {
        border: 1px solid transparentize($white, 0.25);
        border-radius: 3px;
        padding: 2px 8px;
      }
    }

    .movie-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .movie-genre {
      font-size: 15px;
    }
  }
}

.options-block {
  position: absolute;
  background-color: $black;
  top: 2rem;
  right: 2rem;
  width: 10rem;
  height: fit-content;
  border-radius: 5px;

  .option-select {
    color: $white;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;

    &:hover {
      background-color: $red;
    }
  }

  .button-container {
    height: 2rem;

    .button-close {
      position: absolute;
      right: 0;
      top: 0.25rem;
      color: white;
      background-color: $black;
      border: none;
    }
  }
}

.movie-details {
  margin-top: 50px;

  &-image img {
    max-width: 250px;
  }

  &-information-block {
    padding-left: 10rem;
  }

  &-title {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font-size: 3rem;

    &-rating {
      padding: 20px;
      border: 1px solid white;
      color: green;
      border-radius: 50%;
      font-size: 2rem;
    }
  }

  &-genre {
    padding-top: 1rem;
    font-size: 0.9rem;
  }

  &-info {
    padding-top: 1rem;
    color: $red;
    font-size: 2rem;
  }

  &-time {
    padding-left: 30px;
  }

  &-description {
    padding-top: 2rem;
    width: 85rem;
    padding-right: 15rem;
  }

  &-btn-close button {
    background-color: transparent;
    color: $red;
    border:none;
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    right: 10rem;
  }
}
