@import "variables";

* {
  font-family: Montserrat;
}

.app {
  background-color: $black;
  padding: 0 50px;
}

.text {
  &-white {
    color: $white;
  }

  &-red {
    color: $red;
  }

  &-grey {
    color: $grey;
  }

  &-grey-2 {
    color: $grey-2;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.display-flex {
  display: flex;
}

.cursor-pointer {
  &:hover {
   cursor: pointer;
  }
}

.content-justify-between {
  justify-content: space-between;
}
